<main class="page d-flex justify-content-center align-items-center">
    <div class="bg bg-black"></div>
    <section class="card border-0 shadow-lg" aria-labelledby="app-title">
        <header class="col-auto">
            <img src="/assets/logo.png" alt="UTEQ" class="img-fluid" />
        </header>

        <form class="form" autocomplete="on">
            <label class="d-grid gap-2 inputs">
                <input class="form-control border-2 input" type="text" name="usuario" placeholder="Usuario" required />
                <input class="form-control border-2 input" type="password" name="password" placeholder="Contraseña"
                    required />
            </label>

            <div class="d-grid gap-2">
                <button (click)="login()" type="button" class="btn btn-primary border-0 button">Iniciar Sesión</button>
                <button type="button" class="btn btn-dark button" id="crear-cuenta" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop">Crear Cuenta</button>
            </div>

            <div class="d-grid links">
                <a class="link" href="#" id="forgot">¿Olvidaste tu contraseña?</a>
            </div>
        </form>
    </section>

    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Registro</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Nombre completo</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Juan Piguave">
                        </div>
                         <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Numero de cedula</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="1234567890">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Enviar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</main>